<%= div_for @customer do %>
	<%= render 'customer', customer: @customer %>

	<% @customer.orders.each do |order| %>
		<%= div_for order do %>
			<li><%= order.id %> / <%= order.total %> / <%= link_to 'Show order summary with ajax', order_path(order), remote: true %></li>
			<div id="order-summary" style="display:none;"></div>
		<% end %>
	<% end %>
<% end %>