<%= form_for @order, html: {multipart: true} do |f| %>
	<%= f.select :customer, Customer.all.map{|c| ["#{c.name}", c.id] }, { :prompt => "Every order needs a customer!"}, class: "form-control" %>

	<div id="order-items-div" class='form-group'>
    <%= f.fields_for :order_items do |order_item| %>
      <%= order_item.select :product_id, Product.all.map{|p| ["#{p.name}", p.id] }, id:"order-items-entry" %>
    <% end %>
  </div>

  <%= f.text_field :total, class: "form-control" %>
  <%= f.submit "Create Order", class: "btn btn-primary" %>
<% end %>

<button class="btn btn-default" id="addNewProduct">Add Product</button><br>
<button class="btn btn-default" id="deleteLastProduct">Delete Last Product</button>