<%= form_for @order, html: {multipart: true} do |f| %>
	<%= f.select :customer, Customer.all.map{|c| ["#{c.name}", c.id] }, { :prompt => "Select Customer"}, class: "form-control" %>

	<div id="items-div" class='form-group'>
    <%= f.fields_for :order_items do |order_item| %>
    	<%= order_item.select :product_id, Product.all.map{|p| ["#{p.name}", p.id] }, id: "product-select" %>
    	<%= order_item.select :quantity, options_for_select(0..10), { prompt: "Quantity" }, id: "quantity-select" %>
    <% end %>
  </div>

  <%= f.submit "Create Order", class: "btn btn-primary" %>
<% end %>
