<%= render 'order_summary', order_item: @order_item %>

<ul id="order-item-list">
	<% @order.order_items.each do |order_item| %>
		<%= render 'order_items/nested_form', order_item: order_item %>
	<% end %>
</ul>
<div id="order-item-form" style="display:none;"></div>

<%= link_to "Delete #{@order.id}", order_path(@order), method: :delete, class: "something" %>
<%= link_to 'add new item with ajax', new_order_order_item_path(@order), remote: true %>
<%= link_to "Create Invoice", new_invoice_path, remote: true %>
