<li>Order ID: <%= @order.id %></li>
<li>Order Status: <%= @order.status.titleize %></li>
<li>Order Customer: <%= link_to @order.customer.name, customer_path(@order.customer) %></li>

<li>Order Total: 
	<span class="<%= @order.id %>_total"><%= @order.total %></span>
</li>

<li>Number of unique items in order: 
	<span class="<%= @order.id %>unique_order_items_count"><%= @order.order_items.count %></span>
</li>

<li>Total number of items in order: 
	<span class="<%= @order.id %>total_order_items_count"><%= @order.total_items %></span>
</li>