<div class='new-right'>
	<button><%= link_to 'New Order', new_order_path, remote: true %></button>
</div>
<div id="order-form" style="display:none;"></div>
<hr>

<div id="orders">
	<% if @orders.any? %>
		<table class="table">
			<thead>
			  <tr>
			    <th>Order ID</th>
			    <th>Customer</th>
			    <th>Total</th>
			    <th>Created At</th>
			    <th>Status</th>
			    <th>Actions</th>
			  </tr>
			</thead>
			<tbody>
				<% @orders.each do |order| %>
			    <tr>
			      <td><%= link_to "#{order.id}", order_path(order), class: "something" %></td>
			      <td><%= order.customer.name %></td>
			      <td><%= order.total %></td>
			      <td><%= order.created_at.strftime("%b %d, %Y") %></td>
			      <td><%= order.status.capitalize %></td>
			      <td>
			      	<%= link_to "Delete", order_path(order), method: :delete, class: "something" %> / <%= link_to "Edit", order_path(order), class: "something" %>
			      </td>
			    </tr>
			  <% end %>
			</tbody>
		</table>

	<% else %>
		<p>No orders yet</p>
	<% end %>
</div>

