<li>Order ID <%= @order.id %></li>
<li>Customer Name <%= @order.customer.name %></li>
<li>Order Total: 
	<span class="<%= @order.id %>_total"><%= @order.total %></span>
</li>

<br>

<li>Number of Items in the order: 
	<span class="<%= @order.id %>_order_items_count"><%= @order.order_items.count %></span>
</li>

<ul id="order-item-list">
	<%= render 'order_items/order_items_list' %>
</ul>

<%= link_to "Edit Order", edit_order_path %>
<%= link_to "Add Another Item To Order", new_order_order_item_path(@order) %>


