<%= div_for @category do %>
	<li>Category Name <%= @category.name %></li>

	<div class="category-products">
		<% @category.products.each do |product| %>
			<%= render 'admin/products/product', product: product %>
		<% end %>
	</div>
<% end %>


<li>Category Name <%= @category.name %></li>
<li>Number of products <%= @category.products.size %></li>

<% @category.products.each do |product| %>
	<%= product.name %> / <%= product.price %> / <%= product.in_stock_status %>
<% end %>


