<li class="individual-order-item no-style">
	<b><span class="<%= order_item.id %>_product_name"><%= order_item.product.name %></span></b>
	/ Quantity: <span class="<%= order_item.id %>_quantity"><%= order_item.quantity %></span>
	/ Unit Price: <span class="<%= order_item.id %>_unit_price"><%= number_to_currency(order_item.product.price) %></span>
	/ Line Total: <span class="<%= order_item.id %>_line_total"><%= number_to_currency(order_item.calculate_total) %></span>
	/ <%= link_to "Remove Item", order_order_item_path(@order, order_item), method: :delete %>

	<div class='order-items-nested-form'>
		<%= render 'order_items/nested_form', order_item: order_item %>
	</div>
</li>