<!DOCTYPE html>
<html>
<head>
  <title>POSRails</title>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Arvo:400,700' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <% if content_for?(:javascripts) %>
  	yield(:javascripts)
	<% end %>
</head>
<body>

<div id="navbar">Navbar</div>

<%= yield %>

<div id="footer">Footer</div>

</body>
</html>
